@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color:rgb(53, 53, 53);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper{
    width: 1280px;
    margin: 50px auto;
}

header{
    position: relative;
}

header .logo{
    font-weight: 600;
    font-size: 20px;
}

header ul.nav{
    float: right;
    list-style: none;
}

header ul.nav li{
    display: inline;;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover{
    opacity: 0.5;
}

header .shop-cart-button{
    float:right;
    cursor:pointer;
    transition: color, transform 500ms ease;
}
header .shop-cart-button:hover,
header .shop-cart-button.active{
    color: #dc3d3d;
    transform: scale(1.5);
}

header .shop-cart{
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #fafafa;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;

    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .item{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shop-cart .item img{
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2{
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item b{
    color: #797979;
    font-weight: 600;
}

header .presentation{
    margin: 50px 0;
    background: url('./images/Screenshot_119.png') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: azure;
    position: relative;

}
header .presentation::after{
    content: 'Typical Clothing Store';
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

header .presentation::before{
    content:'embrace tradition';
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 250px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item{
    width: 30%;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

main .item img{
    width: 100%;
    border-radius: 10px 10px 0;
    transition: transform 500ms ease;
}

main .item img:hover{
    transform: scale(1.05);
}

main h2, main b{
    margin: 10px 20px;
    color: #333;
}

main .add-to-cart{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px ;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 500ms ease;
}

main .add-to-cart:hover{
    transform: scale(1.5) translateY(-5px);
}

footer{
    text-align: center;
    margin-top: 100px;
}
